body {
  --main-bg-color: #152347;
  --main-text-color: #aab2c0;
  --main-link-color: #ff00aa;
  --main-header-color: #fff;

  color: var(--main-text-color);
  font-family: "Anonymous Pro", monospace;
  line-height: 1.5em;

  background-color: var(--main-bg-color);
}

hr {
  height: 2px;
  margin-top: 48px;
  margin-bottom: 48px;
  border: none;
  background-color: var(--main-header-color);
}

h1,
h2,
h3 {
  color: var(--main-header-color);
}
canvas {
  position:absolute;
  top:0;
  left:20%;
  width:100%;
  height:100%;
  margin:0;
  z-index:-1;
  }
h3 {
  margin-bottom: 0em;
  border-bottom: solid 1px var(--main-text-color);
}

a {
  color: var(--main-link-color);
}

a.button {
  text-decoration: none;
  padding: 10px 12px;
  border-radius: 6px;
  border: solid 1px var(--main-link-color);
}

a.button:hover {
  color: var(--main-bg-color);
  background-color: var(--main-link-color);
}

a.sponsor img {
  max-width: 250px;
  max-height: 100px;
}

section {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

section.header {
  height: 50vh;
  background-size: contain;
  background-image: url(header_bg.png);
  background-repeat: no-repeat;
  background-position: center;
}

article.sponsors {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3em;
}

article.event {
  margin-bottom: 2.5em;
}
